.timerInput{
  background: rgb(9, 211, 172);
  border:none;
  outline: none;
  color:white;
  direction:rtl;
  font-size: 40px;
  max-width: 70px;
  text-align: center;
  text-indent: -20px;

}
.timerInput:active {
  outline: none;
  border: none;
  }
  .colomn{
    vertical-align: baseline;
    margin-left: 5px;
    font-size: 47px;
    padding-top: -10px;
    line-height: 52px;  }
    input[type=number]::-webkit-inner-spin-button {
      /* -webkit-appearance: none; */
      /* width:0px; */
      color: green;
      margin-right:-30px;
    }